<h1>Task: <%= @task.content %></h1>

<h3>Task Status: <%= @task.status%></h3>

<% if @task.status == "Unassigned" && !@curr_user.lead%>
    <%= link_to 'Claim this Task', task_path(@task), method: 'patch' %>
<% end %>
<% if @task.status == "In Progress" %>
    <%if @task.employee == @curr_user %>
        <%= form_for @task do |f| %> 
            <%= f.hidden_field :completed, value: true %> 
            <%= f.submit "Mark this Task as Complete" %>
        <% end %>
        <%= link_to "Drop this Task", task_path(@task), method: 'patch' %>
    <% else %>
        <h4>Assigned to <%= link_to @task.employee.full_name, employee_path(@task.employee) %> </h4>
    <% end %>
<% end %>


<h3>Task due on: <%= due_date_formatted(@task) %></h3>

<h3>Project Lead: <%= project_lead_name(@task.project) %></h3>

<h3>Notes from Project Lead:</h3>
<p><%= @task.lead_notes %></p>

<% if @curr_user.lead %>
    <br><%= link_to 'Edit Task', edit_task_path(@task) %>
    <br><%= link_to 'Delete Task', task_path(@task), method: :delete, data: {confirm: "Are you sure you want to delete this task? This will also delete its comments."} %><br>
<% end %>

<h4>Add a Comment Below:</h4>
<%= render 'comments/form' %><br>

<h4>Comments:</h4>
<ol>
<% @comments.each do |comment| %>
    <li>
    <%= comment.content %><br>
    Posted By: <%= comment.employee.full_name if comment.employee %>
    </li>
<% end %>
</ol>

<h4><%= link_to "Back to Current Project", project_path(@task.project) %></h4>