<!DOCTYPE html>
<html>
  <head>
    <title>Millard Organization System: <%# Company.find(session[:company_id]).name %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if session[:employee_id] %>
    <h1>Welcome to Millard Management </h1>
    <h3>Currently Logged In As: </h3>
  <% end %>
    <%= yield %>

    <% if session[:employee_id] %>
    <%= link_to "Project Directory", projects_path %>
    <%= link_to "Employee Directory", company_employees_path(session[:company_id]) %>
    <%= link_to "Log Out", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Home Page", root_path %>
  <% end %>
  </body>
</html>
